/** 前途光明 */
:root {
    /** 浅色模式 */
    &,
    &[color-scheme="light"] {
        /* 基础色 */
        --ew-primary-color: #1c3c31;
        --ew-secondary-color: #4f9c83;
        --ew-tertiary-color: #98c0c9;
        --ew-light-color: #c4f8e7;
        --ew-extra-light-color: #c4f8e7;
        --ew-background-color: #e8fff8;
        /* 文字色 */
        --ew-text-primary: #0e1e19;
        --ew-text-secondary: #2c4c41;
        --ew-text-hint: #4a6c61;
        --ew-text-on-primary: #ffffff;
        /* 提示状态色（青绿调） */
        --ew-success-color: #287858;
        --ew-warning-color: #a88838;
        --ew-error-color: #a83838;
        --ew-info-color: #288898;

        --ew-text-on-success: #ffffff;
        --ew-text-on-warning: #ffffff;
        --ew-text-on-error: #ffffff;
        --ew-text-on-info: #ffffff;
    }
    /** 深色模式 */
    &[color-scheme="dark"] {
        /* 基础色 */
        --ew-primary-color: #0e1f1a;
        --ew-secondary-color: #2a5a4a;
        --ew-tertiary-color: #5d8a92;
        --ew-light-color: #73b8a7;
        --ew-extra-light-color: #73b8a7;
        --ew-background-color: #2a554a;
        /* 文字色 */
        --ew-text-primary: #e6f8f3;
        --ew-text-secondary: #c0e8dc;
        --ew-text-hint: #90c8b8;
        --ew-text-on-primary: #ffffff;
        /* 提示状态色（青绿提亮） */
        --ew-success-color: #48b888;
        --ew-warning-color: #d8b858;
        --ew-error-color: #d85858;
        --ew-info-color: #48c8d8;
        --ew-text-on-success: #0e1e19;
        --ew-text-on-warning: #0e1e19;
        --ew-text-on-error: #ffffff;
        --ew-text-on-info: #0e1e19;
    }
}
