/** 朴实无华 */
:root {
    /** 浅色模式 */
    &,
    &[color-scheme="light"] {
        /* 基础色 */
        --ew-primary-color: #6e736d;
        --ew-secondary-color: #78a496;
        --ew-tertiary-color: #cfe0d0;
        --ew-light-color: #e5e1c8;
        --ew-extra-light-color: #e5e1c8;
        --ew-background-color: #f5f7f0;
        /* 文字色 */
        --ew-text-primary: #292c28;
        --ew-text-secondary: #4e524d;
        --ew-text-hint: #787c77;
        --ew-text-on-primary: #ffffff;
        /* 提示状态色（自然系） */
        --ew-success-color: #488858;
        --ew-warning-color: #a88838;
        --ew-error-color: #a84838;
        --ew-info-color: #487888;
        --ew-text-on-success: #ffffff;
        --ew-text-on-warning: #ffffff;
        --ew-text-on-error: #ffffff;
        --ew-text-on-info: #ffffff;
    }
    /** 深色模式 */
    &[color-scheme="dark"] {
        /* 基础色 */
        --ew-primary-color: #2f3330;
        --ew-secondary-color: #3e6358;
        --ew-tertiary-color: #789488;
        --ew-light-color: #83806f;
        --ew-extra-light-color: #83806f;
        --ew-background-color: #44463f;
        /* 文字色 */
        --ew-text-primary: #f2f4f1;
        --ew-text-secondary: #d0d2ce;
        --ew-text-hint: #a0a29e;
        --ew-text-on-primary: #ffffff;
        /* 提示状态色（自然提亮） */
        --ew-success-color: #68b878;
        --ew-warning-color: #c8a858;
        --ew-error-color: #c86858;
        --ew-info-color: #6898a8;
        --ew-text-on-success: #292c28;
        --ew-text-on-warning: #292c28;
        --ew-text-on-error: #ffffff;
        --ew-text-on-info: #ffffff;
    }
}
