/* 基础重置 + Rem 适配 */
html {
    -webkit-text-size-adjust: 100%; // 禁止 iOS 横屏字体放大
    text-size-adjust: 100%;
}

/* 移动端点击消除高亮 */
/* a,
button,
input,
select {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    color: var(--color-primary);
} */

/* ul,
ol {
    list-style: none;
} */
